/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/static/IMAGES/login-bg.jpg);
    background-size: cover;
}

.login-container {
    width: 90%; /* Default to 90% for smaller screens */
    max-width: 500px; /* Limit width on larger screens */
    height: auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.);
    backdrop-filter: blur(16px) saturate(200%);
    -webkit-backdrop-filter: blur(16px) saturate(200%);
    background-color: rgba(20, 23, 28, 0.65);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.login-form h2 {
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
}

.login-form p {
    color: #bdbdbd;
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

.input-icon {
    position: relative;
}

.input-icon .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #777;
}

.input-icon input {
    width: 100%;
    padding: 10px 10px 10px 40px;
    background-color: #333;
    border: 1px solid #555;
    border-radius: 5px;
    color: #fff;
}

.input-icon input::placeholder {
    color: #999;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.remember-forgot label {
    color: #bdbdbd;
    font-size: 14px;
}

.remember-forgot a {
    color: #00aaff;
    text-decoration: none;
    font-size: 14px;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn-submit {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn-submit:hover {
    background-color: #218838;
}

.register-link {
    text-align: center;
    color: #bdbdbd;
    margin-top: 10px;
}

.register-link a {
    color: #00aaff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}

.login-form h4{
    text-align: center;
    color: red;
    font-weight: bold;
}